*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    font-size: 15px;
    line-height: 1.4;
    color: #5a5959;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.header{
    background: url('Img/image-header.jpg') center center / cover no-repeat;
    height: 400px;
}

.header_top{
    text-align: center;
    padding-top: 15px;
}

.nav{
    margin-top: 10px;
}

.nav a{
    padding: 0 10px;
    font-size: 1.1rem;
    text-transform: capitalize;
    font-weight: 400;
    color: #fff1f1cc;
    transition: color .3s;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s;
}

.nav a:hover{
    color: #000;
}

.header_bas{
    text-align: center;
    margin-top: 15px;
}

.header_bas h1{
    color: #FFF;
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.header_bas h1 span{
    display: block;
}

/*Cette partie prend en charge les écrans depuis 700px jusqu'à 1022px*/

@media screen and (min-width: 700px) {
    .header{
        height: 450px;
    }
    .header_top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
    }
    .nav{
        margin: 0;
    }
    .nav a{
        font-size: 1.3rem;
    }
    .nav a.active{
        background-color: #FFF;
        color: #000;
        padding: 5px 20px;
        border-radius: 300px;
        -webkit-border-radius: 300px;
        -moz-border-radius: 300px;
        -ms-border-radius: 300px;
        -o-border-radius: 300px;
    }
    .header_bas{
        margin-top: 70px;
    }
    .header_bas h1{
        padding-bottom: 30px;
    }
    .header_bas h1 span{
        display: inline-block;
    }
}

@media screen and (min-width: 1200px) {
    .header{
        height: 500px;
    }
    .header_bas{
        margin-top: 90px;
    }
    .header_bas h1{
        padding-bottom: 40px;
        font-size: 2rem;
    }
}

